@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  margin: 0;
}
body {
  background-color: #9c2e35;
  display: grid;
  align-items: center;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.container {
  justify-self: center;
  align-self: center;
}
.marsFoto {
  justify-self: center;
  align-self: center;
}
h1 {
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  font-size: 5rem;
  margin-top: 0px;
  color: white;
}
p {
  font-family: 'Rubik', sans-serif;
  font-size: 2rem;
  color: white;
}
